body {
    background: #050505 !important;
}

.title {
    font-size: 5rem;
    margin-top: 10rem;
}
.text-home {
    font-size: 2.8rem;
}
.icon {
    margin-top: 8rem;
}
.git,.linkedin,.instagram {
    cursor: pointer;
}
.git:hover,.linkedin:hover,.instagram:hover {
    transition-duration: 500ms;
    transform:translateY(-10px);
}
.git:hover {
    color: #424446 !important
}
.linkedin:hover {
    color: #2279fc !important;
}
.instagram:hover {
    color: #fd0d99 !important;
}
.title-sobre {
    font-size: 4rem
}
.div-sobre {
    display: flex;
    margin-top: 2rem;   
}
.img-sobre {
    width: 600px;
    border-radius: 10px;
    margin-left: 40px;
}
.div-habilidades {
    margin-top: 2.7rem;
}
.habilidades {
    display: flex;
}
.mensagem-habilidades {
    width: 500px;
}
.icons-habilidades {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    margin-left: 50px;
}
.icons {
    width: 33%;
    padding-left: 50px;
    margin-top: 10px;
}
.html,.css,.react {
    margin-left: 25px;
}
.bootstrap {
    padding-top: 20px;
}
.javascript,.materialize {
    margin-left: 10px;
}
.i:hover{
    color: #959697 !important;
}
